<mat-card-header layout="row">
  <mat-card-title style="margin-bottom: 2vh;">
    <div class="img-container my-primary-text">
      <span><img src="assets/img/vendor.jfif" alt="logo" />
        <p
          style="margin-top: -7vh; margin-left: 2em; display: block;font-family: 'Adobe Arabic';font-size: 2em;font-weight: bold;">
          generator</p>
      </span>
    </div>
  </mat-card-title>
</mat-card-header>
<mat-card>
  <mat-card-content *ngIf="!generated">
    <form [formGroup]="generatorForm" novalidate>
      <div layout="row" class="pad-left-sm pad-bottom-sm">
        <mat-form-field flex>
          <mat-select (selectionChange)="onPickVendor()" placeholder="Choose Vendor" formControlName="vendorid">
            <mat-option *ngFor="let vendor of vendors" [value]="vendor">{{vendor.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="pickedVendor" layout="row" class="pad-left-sm pad-bottom-sm">
        <mat-form-field flex>
          <mat-select placeholder="Choose Product" formControlName="productid" (selectionChange)="onPickProduct()"
            [(value)]="selectedProduct">
            <mat-option *ngFor="let product of products" [value]="product">{{product.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="pickedProduct" class="row">
        <mat-form-field flex>
          <mat-select placeholder="Choose Qty" formControlName="qty" (selectionChange)="onPickQty()"
            [(value)]="selectedQty">
            <mat-option [value]="-1">EOQ</mat-option>
            <mat-option [value]="0">0</mat-option>
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="5">5</mat-option>
            <mat-option [value]="10">10</mat-option>
            <mat-option [value]="20">20</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br>
      <div *ngIf="purchaseOrder.items && purchaseOrder.items.length !== 0">
        <table style="top:-30px;position:relative;">
          <tr>
            <th colspan="3" class="pad-xs text-center md-subhead" style="font-weight:bold;padding:1.5vh;">
              Selected Products from {{selectedVendor.name}}
            </th>
          </tr>
          <tr style="font-weight:bold;;background-color: #eeeeee">
            <td style="text-align: center;width:40%;padding-top:2vh;padding-bottom: 2vh;">Product</td>
            <td style="text-align: center;width:20%;padding-top:2vh;padding-bottom: 2vh;">Qty</td>
            <td style="text-align: center;width:40%;padding-top:2vh;padding-bottom: 2vh;">Extended</td>
          </tr>
          <tr *ngFor="let item of purchaseOrder.items">
            <td style="text-align: center;padding-top:1vh;padding-bottom: 1vh;">
              {{item.productid}}</td>
            <td width="700" style="text-align: center;padding-top:1vh;padding-bottom: 1vh;">
              {{item.qty}}</td>
            <td style="text-align: right;padding-top:1vh;padding-bottom: 1vh;">
              {{item.price * item.qty | currency }}</td>
          </tr>
          <tr style="background: #ffffff; height: .3em">
          </tr>
          <tr style=" background: #ffffff;text-align: right;padding-top:3vh;padding-bottom: 1vh;">
            <td></td>
            <td>Sub:</td>
            <td>{{sub| currency}}</td>
          </tr>
          <tr style="background: #ffffff;text-align: right;padding-top:1vh;padding-bottom: 1vh;">
            <td></td>
            <td>Tax:</td>
            <td>{{tax| currency}}</td>
          </tr>
          <tr style="background: #ffffff;text-align: right;padding-top:1vh;padding-bottom: 1vh; font-weight: bold">
            <td></td>
            <td>Total:</td>
            <td>{{total| currency}}</td>
          </tr>
        </table>
      </div>
      <div style="text-align:left;" *ngIf="purchaseOrder.items && purchaseOrder.items.length !== 0">
        <button mat-raised-button color="primary" (click)="generatePOrder()" [disabled]="!generatorForm.valid">Add
          Po</button>
      </div>
    </form>
  </mat-card-content>
  <mat-card-content *ngIf="generated">
    <button mat-raised-button (click)="viewPdf()">View PDF</button>
  </mat-card-content>
  <mat-card-footer>
    <span class="my-accent-text msg">{{ msg }}</span>
  </mat-card-footer>
</mat-card>