.img-container {
  margin-top: 1em;
  margin-left: 35%;
  display: block;
}

img {
  width: 40%;
}

.msg {
  text-align: right;
  font-size: 1em;
  float: right;
  margin-top: -1.5em;
  margin-right: 1em;
  font-weight: bold;
}

.padtop15 {
  padding-top: 15%;
}

.material-icons.addicon {
  font-size: 10vw;
  position: absolute;
  bottom: 4vh;
  //right: 8vw;
}

table {
  width: 100%;
  //text-align: center;
}

.mat-header-cell {
  background-color: rgb(238, 238, 238);
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.mat-row:nth-child(even) {
  background-color: rgb(238, 238, 238);
  //text-align: center;
}

.mat-row:nth-child(odd) {
  background-color: white;
  //text-align: center;
}

.column3 {
  text-align: center;
}
