<form [formGroup]="productForm" (ngSubmit)="updateSelectedProduct()">
  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header class="my-primary-text" style="background-color: #eeeeee">
        <mat-panel-title>
          Product Information
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br />
      <div>
        <div layout="row" *ngIf="!selectedProduct.id;else displayidro">
          <mat-form-field flex>
            <input matInput placeholder="Product Id" type="text" formControlName="id">
            <mat-error align="end">
              <span *ngIf="id.hasError('required')">id is required</span>
              <span *ngIf="!id.hasError('required') && id.hasError('idExists')">Unique Id Required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <ng-template #displayidro>
          <!-- the id row is special??-->
          <mat-form-field flex style="margin-bottom: 1rem;font-weight: bolder;" color="accent">
            <input matInput [readonly]="true" placeholder="Product ID" formControlName="id">
          </mat-form-field>
          <br />
        </ng-template>
        <!--vendor select-->
        <div layout="row">
          <mat-form-field>
            <mat-select placeholder="Vendor Name" formControlName="vendorid" value="vendorid">
              <mat-option *ngFor="let vendor of vendors" [value]="vendor.id">{{vendor.name}}</mat-option>
            </mat-select>
            <mat-hint flex *ngIf="vendorid.errors && (vendorid.dirty || vendorid.touched)" align="end"
              [ngStyle]="{'color': 'red', 'font-size': 'x-small', 'padding-top': '15px'}">
              <p align="end" mat-pad-xs *ngIf="vendorid.hasError('required')">Choose Vendor</p>
            </mat-hint>
          </mat-form-field>
        </div>
        <!--name-->
        <mat-form-field flex>
          <input matInput placeholder="Product Name" type="text" formControlName="name">
          <mat-hint *ngIf="name.errors && (name.dirty || name.touched)" align="end" [ngStyle]="{'color': 'red'}">Product
            name is required
          </mat-hint>
        </mat-form-field>
        <!--msrp-->
        <mat-form-field flex>
          <input matInput placeholder="MSRP" type="number" formControlName="msrp">
          <mat-hint *ngIf="msrp.errors && (msrp.dirty || msrp.touched)" align="end" [ngStyle]="{'color': 'red'}">MSRP is
            required
          </mat-hint>
        </mat-form-field>
        <!--cost-->
        <mat-form-field flex>
          <input matInput placeholder="Cost Price" type="number" formControlName="costprice">
          <mat-hint *ngIf="costprice.errors && (costprice.dirty || costprice.touched)" align="end"
            [ngStyle]="{'color': 'red'}">Cost Price is required
          </mat-hint>
        </mat-form-field>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
  <br />
  <!--  ********-->
  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header class="my-primary-text" style="background-color: #eeeeee;">
        <mat-panel-title>
          Inventory Information
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br />

      <div>
        <mat-form-field flex>
          <input matInput placeholder="ROP" type="number" formControlName="rop">
          <mat-hint *ngIf="rop.errors && (rop.dirty || rop.touched)" align="end" [ngStyle]="{'color': 'red'}">ROP is
            required
          </mat-hint>
        </mat-form-field>
        <mat-form-field flex>
          <input matInput placeholder="EOQ" type="number" formControlName="eoq">
          <mat-hint *ngIf="eoq.errors && (eoq.dirty || eoq.touched)" align="end" [ngStyle]="{'color': 'red'}">EOQ is
            required
          </mat-hint>
        </mat-form-field>
        <mat-form-field flex>
          <input matInput placeholder="QOH" type="number" formControlName="qoh">
          <mat-hint *ngIf="qoh.errors && (qoh.dirty || qoh.touched)" align="end" [ngStyle]="{'color': 'red'}">QOH is
            required
          </mat-hint>
        </mat-form-field>
        <mat-form-field flex>
          <input matInput placeholder="QOO" type="number" formControlName="qoo">
          <mat-hint *ngIf="qoo.errors && (qoo.dirty || qoo.touched)" align="end" [ngStyle]="{'color': 'red'}">QOO is
            required
          </mat-hint>
        </mat-form-field>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <br>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header class="my-primary-text" style="background-color: #eeeeee">
      <mat-panel-title>
        QRCode Information
      </mat-panel-title>
    </mat-expansion-panel-header>
    <br>
    <mat-form-field>
      <input matInput placeholder="QRCode Text" type="text" formControlName="qrcodetxt">
    </mat-form-field>

    <span *ngIf="selectedProduct.id"> QR CODE: <br>
      <img style="display:block;" [src]="'data:image/png;base64,' + selectedProduct.qrcode" />
    </span>
    <div style="padding-top:15%">
    </div>
  </mat-expansion-panel>
</form>
<br />
<div class="mat-pad-sm">
  <span>
    <button mat-raised-button [disabled]="!productForm.valid" type="button"
      (click)="updateSelectedProduct()">Save</button>
  </span>
  <span>
    <button *ngIf="selectedProduct.id" mat-raised-button type="button"
      (click)="deleted.emit(selectedProduct)">Delete</button>
  </span>
  <span>
    <button mat-raised-button type="button" (click)="cancelled.emit(selectedProduct)">Cancel</button>
  </span>
</div>