<mat-card *ngIf="hideEditForm" style="margin-bottom: 10vh;">
  <mat-card-header layout="row">
    <mat-card-title style="margin-bottom: 4vh;">
      <div class="img-container my-primary-text">
        <span><img src="assets/img/vendor.jfif" alt="logo" />
          <p
            style="margin-top: -7vh; margin-left: 2em; display: block;font-family: 'Adobe Arabic';font-size: 2em;font-weight: bold;">
            products</p>
        </span>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <!-- Date Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <!-- Employee Id Column -->
      <ng-container matColumnDef="vendorid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp; &nbsp; &nbsp; &nbsp;Vendor No.</th>
        <td mat-cell class="column3" *matCellDef="let element">{{ element.vendorid }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="select(row)"></tr>
    </table>

    <div class="padtop15">
      <mat-icon (click)="newProduct()" matTooltip="Add New Product" class="addicon" color="primary">
        control_point
      </mat-icon>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <span class="my-accent-text msg">{{ msg }}</span>
  </mat-card-footer>
</mat-card>


<mat-card *ngIf="!hideEditForm">
  <mat-card-header layout="row">
    <mat-card-title><span>{{ msg }}</span></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-product-detail [selectedProduct]="selectedProduct" [vendors]="vendors" [products]="products"
      (cancelled)="cancel('cancelled')" (saved)="save($event)" (deleted)="delete($event)">
    </app-product-detail>
  </mat-card-content>
</mat-card>

<mat-paginator #paginator [length]="totalElements" [pageSize]="pageSize" (page)="changePage($event)">
</mat-paginator>