// custom theme
@import 'custom-theme.scss';

.my-primary-text {
  color: mat-color($my-app-primary);
}

.my-accent-text {
  color: mat-color($my-app-accent);
}

mat-list-item:nth-child(odd) {
  background-color: white;
}

mat-list-item:nth-child(even) {
  background-color: #eeeeee;
}

mat-form-field {
  margin-left: 5%;
  width: 90%;
}

header_class {
  background-color: rgb(238, 238, 238);
}
