<br>
<mat-card align="center">
  <mat-card-content>
    <div class="mat-title my-primary-text">
      <h3>VENDOR mobile procurement</h3>
      <img src="../../assets/img/vendor.jfif" alt="logo"/>
      <span style="font-size:x-small;">v1.0</span>
    </div>
  </mat-card-content>
  <mat-card-footer align="end" class="my-accent-text">
    &copy;Info5059 - 2019
  </mat-card-footer>
</mat-card>
